button {
    outline: 0;
    color: black;
    background: rgba(255, 255, 255, 0);
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, #4392f1 50%) right;
    background-size: 200%;
    transition: .5s ease-in-out;
    border-color: #4392f1;
    border-width: 2px;
    border-radius: 0.375rem;
    -webkit-user-select: none;
    user-select: none;
    padding: 0.5rem;
    width: 100%;
    margin-top: 0.25rem;
    cursor: pointer;
}

button:hover {
    background-position: left;
    color: white;
}

button:active {
    border-color: rgba(255, 255, 255, 0.5);
}

section {
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

section p {
    font-size: 1.75rem;
}

#refs {
    background-color: rgba(20,203,255,1);
}

#refs a {
    text-decoration: underline;
}

#start {
    background: rgb(20,203,255);
    background: linear-gradient(180deg, rgba(20,203,255,1) 20%, rgba(253,230,138,1) 80%);
}

#compare {
    background: rgb(20,203,255);
    background: linear-gradient(180deg, rgba(253,230,138,1) 20%, rgba(20,203,255,1) 80%);
}

#divider {
    background: rgb(253,230,138);
    background: linear-gradient(180deg, rgba(253,230,138,1) 20%, rgba(52,211,153,1) 50%, rgba(253,230,138,1) 80%);
}